<div [busyIndicator]="loadingSubject">
  <div class="row">
    <div class="col"><h2>Home page</h2></div>
  </div>
  <div class="row">
    <div class="col-6">
      <form class="card" [formGroup]="personDataForm" (submit)="onFormSubmit(personDataForm.value)">
        <div class="card-header">
          Dane osobowe:
        </div>
        <div class="card-body">
          <div class="form-group">
            <label for="firstName">First name:</label>
            <input type="text" class="form-control" id="firstName" formControlName="firstName" />
          </div>
          <div class="form-group">
            <label for="lastName">Last name:</label>
            <input type="text" class="form-control" id="lastName" formControlName="lastName" />
          </div>
          <div class="form-group">
            <label for="personId">Person:</label>
            <custom-drop-down [items]="persons" id="personId" formControlName="personId"></custom-drop-down>
          </div>

        </div>
        <div class="card-footer">
          <div class="row">
            <div class="col">
              <div class="float-right"><button type="submit" class="btn btn-primary">Zapisz</button></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
  <div class="row">
    <div class="col">
      <h3>Tree</h3>
      <ul>
        <ng-template #recursiveList let-list>
          <li *ngFor="let item of list">
            {{item.name}}
            <ul *ngIf="item.children.length > 0">
              <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
            </ul>
          </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: myModel }"></ng-container>
      </ul>
      <hr/>
      <h3> Flatten tree</h3>
      <ul>
        <ng-template #recursiveFlattenList let-list>
          <li *ngFor="let item of list">
            {{item.name}}
            <ul *ngIf="item.children.length > 0">
              <ng-container *ngTemplateOutlet="recursiveFlattenList; context:{ $implicit: item.children }"></ng-container>
            </ul>
          </li>
        </ng-template>
        <ng-container *ngTemplateOutlet="recursiveFlattenList; context:{ $implicit: myFlattenModel }"></ng-container>
      </ul>
    </div>
  </div>
</div>
